.container {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 100px;
	right: 100px;
	overflow: hidden;
}

.header {
	background: #333;
	color: #eee;
}

.logo {
	float: left;
	line-height: 60px;
	font-size: 24px;
}

.login {
	float: right;
	line-height: 60px;
	font-size: 16px;
}

.toolbar {
	padding: 10px;
}

.toolbar a {
	float: right;
}

.list {
	height: 20%;
}

.list table {
  display: block;
  overflow: auto;
  max-height: 100%;
}